@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div class="main-page-wrapper">
    @ViewBag.Greeting (из представления)
    <p class="main-text">Мы собираемся на захватывающую вечеринку.</p>
    <div class="btn btn-success">
        @Html.ActionLink("Форма RSVP", "RsvpForm")
    </div>
</div>